<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('../../components/head'); %><!--comando para incluir arquivos do ejs, no caso estou 
    incluindo o head que esta em start-->
<body class="white">
   
    <%-  include('../../components/header'); %><!--chamando o partials header-->
    <%-  include('../../components/navBar'); %>
    <main>
        <%-  include('../../components/sectionOne'); %>
        <%-  include('../../components/sectionNiveis'); %>
    </main>
    <%-  include('../../components/links'); %>
    
</body>
</html>

